body {
    background-color: #C5CBE3;
}

h1 {
    background-color: #05386B;
    color: #ECF5E1;
    text-align: center;
}

.gamePlay {
    background-color: #5CDB95;
    border: 2px solid #05386B;
    color: #ECF5E1;
}